*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header ,
section h2,
section h3,
form button
{
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}
body, input, textarea 
{
    font-family: 'Roboto', sans-serif;
}
header h1,
li
{
    font-family: 'Bungee Spice', sans-serif; /* Serve para colocar uma fonte em um determinado titulo */
    font-weight: normal;
    /* Serve para ajustar o titulo "Game Shop" e torna-lo legivel */
}

header h1
{
    margin-left: 24px;
}

header
{
    padding: 16px 0;
    background-color: rgb(0, 0, 255);
    color: white;
}

header nav li 
{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a 
{
    color: white;
    text-decoration: none;
}

.container
{
    max-width: 1280px;
    width: 100%;
    margin: 10 auto;
}

header .container,
section .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img 
{
    height: 30px; /* Serve para fazer uma imagem crescer */
}

.brands-list li /*Muda os logos */
{
    display: inline; /* Muda a posição dos logos Ex: "display:flex;" <-- deixa um em cima do outro "display:inline;" <-- Deixa um do lado do outro */
    margin-right: 8px; /* Muda a margem entre os logos */
}

section .container
{
    align-items: flex-start;
}

section 
{
    padding: 20px 0px;
}

section h2 /* Muda o "SOBRE a LOJA" */
{
    margin-bottom: 10px;
}

section 
{
    color: rgb(52, 52, 194)
}

section p 
{
    margin-bottom: 3px;
}

.store-front 
{
    margin-right: 16px;
    margin-left: 24px;
    
}
/* inicia da modelagem da social-links */
.social-links img
{
    height: 24px; /* diminui a proporção da imagem */
}

.social-links li
{
    display: inline; /* coloca as img uma do lado da outra */
    margin-right: 15px; /* muda o espaçamento entre as img */
}

.social-links li a 
{
    text-decoration: none; /* tira o traço do lado das img */
}
/* fim da modelagem da social-lniks */
/* inicio da modelagem dos contatos */ 
#contact .container
{
    display: block;
    margin-left: 24px;
    
}

.contact-methods
{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    
}

form input,
form textarea,
form button
{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea
{
    resize: none;
    height: 100px;
}

section h3 
{
    margin-bottom: 16px; /* separa os botoes de baixo com o texto de cima */ 
}

form button 
{
    background-color: rgb(52, 52, 194);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover  /* seletor usado pra tirar margens do button */
{ 
    background-color: rgb(0, 0, 255);
}

input:focus, textarea:focus 
{
    outline-color: rgb(0, 0, 255); /* muda a cor da borda */
}

footer 
{
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 16px 0;
}

footer p
{
    margin-left: 24px;
}